.loader {
  border: 10px dotted #f3f3f3;
  border-radius:100%;
  border-top: 10px solid #3498db;
  width: 3em;
  height:3em;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.library-logo { width:10em;}
.header-title { color:#0099ff;}
.header-bar { background-color:#fff;padding:1em;text-align:center;margin-top:3.5em;}
.footer { background:#0099ff;position:fixed;bottom:0;left:0;width:100%;text-align:center;color:#fff;border-top-left-radius:1em;border-top-right-radius:1em;}

.request {
background:#feb236;
padding:2px;
color:#000;
width:99.75%;
position:absolute;
top:0;
left:0;
text-align:center;
font-size:0.8em;
font-weight:
bold;opacity:100%;
}
